.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 1rem;
  margin-top: -3rem;
  padding: 1rem;
  border-radius: 1rem;
}

.form {
  margin-top: 1rem;
  border-radius: 1rem;
  padding: 1rem;
  margin: 5rem;
}

.form-container {
  padding: 0%;
}
.form-container .main-form {
  margin: 0.5rem;
}

.form-container .main-form .form-input {
  margin-bottom: 0rem;
}

.form-container .main-form .result-container {
  margin-bottom: 0rem;
}

.form-container .main-form .result-container .result-title {
  margin: 0rem;
}

.form-container .main-form .result-container .result {
  margin: 0rem;
  margin-left: 9rem;
}

.form-container .form-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
